{% extends "layout.html" %}
{% block title %}Sign In {% endblock %}

{% block body %}

<div style="display: flex;flex-direction: column;justify-content: center;align-items: center;height: 100vh;margin: 0;">
    <div style=" background-color: azure; border:2px solid black;box-shadow:0px 0px 20px 5px; border-radius: 20px; width: 50%;height: 90%; display: flex;flex-direction: column; justify-content: center;align-items: center;">
        <h1 style="font-size: 40px;">Login Page</h1> 
        <div style="display: flex;flex-direction: column; justify-content: center;gap: 20px; width: 100%;max-width: 500px;padding: 10px;" >
            <form action="{{url_for('SignIn')}}" method="POST" style="display: flex;flex-direction: column;">
                {{ form.hidden_tag() }}
                <br />
                {{ form.username(style="font-size: 20px;font-weight: normal;color: grey; font-style: italic;padding-left:15px") }}
                <br />
                {{ form.password(style="font-size: 20px;font-weight: normal;color: grey; font-style: italic;padding-left:15px") }}
                <br />
                {{ form.usertype(style="font-size: 20px;font-weight: normal;color: grey; font-style: italic;padding-left:15px") }}
                <br />
                {{ form.submit(style="padding: 10px;border: 2px solid grey;border-radius:10px;background-color:aliceblue;color: black;padding: 10px; font-size: 16px;cursor: pointer;") }}
            </form>
            <a href="{{url_for('register')}}" style="text-decoration: none;text-align: center;">
                Don't have an account?Sign Up
            </a>
        </div>
    </div>
</div>
{% endblock %}